*{
    padding: 0;
    margin: 0;
}
:root{
    --montserrat: "Montserrat", sans-serif;
    --inter: "Inter", sans-serif;
}

body{
    background-color: rgba(26, 26, 26, 1);
}

.container{
    max-width: 1244px;
    margin: 0 auto;

}

header{
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    column-gap: 163px;
}

nav ul{
    display: flex;
    column-gap: 50px;
    list-style-type: none;
}
ul li a{
    color: #C1C1C1;
    text-decoration: none;
    font: 500 18px var(--montserrat) ;
}