*{
    padding: 0;
    margin: 0;
    cursor: default;
}
:root{
    /* Fonts */
    --montserrat: "Montserrat", sans-serif;
    --inter: "Inter", sans-serif;
    --oleo: "Oleo Script", system-ui;
    --poppins: "Poppins", sans-serif;
    /* Fonts */

    /* Colors / Styles */
    --gradient: linear-gradient(to right, rgba(79, 195, 247, 1), white);
    /* Colors / Styles */

}


body{
    background-color: rgba(26, 26, 26, 1);
}
body::-webkit-scrollbar{
    display: none;
}

button{
    font: 500 15px var(--montserrat);

    background-color: transparent;
    color: white;
    border: #4FC3F7 1px solid;
    border-radius: 9px;
    text-align: center;
}

.container{
    position: relative;
    max-width: 1244px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 60px;
}

header{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    
}

header .menu{
    display: none;
}


header h1{
    color: white;
    font: 400 40px var(--oleo);
}
header button{
    width: 126px;
    height: 45px;


}



header img{
    max-width: 30px;
    max-height: 30px;
}

nav ul{
    width: 541px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
ul li a{
    color: #C1C1C1;
    text-decoration: none;
    font: 500 18px var(--montserrat);
    text-align: center;
    transition: .2s color linear ;
}

nav li a:hover{
    color: #4FC3F7;
}


@media (max-device-width: 1244px) {
    header{
        column-gap: 20px;
    }
    .container{
        padding: 60px 15px 0px 15px;
    }

    #all{
        padding: 0px 30px;
    }
}

@media (max-device-width: 820px){
    header *{
        display: none;
    }
    header .menu{
        display: block;
    }

    header h1{
        display: block;
    }
}

/* Main part */

main{
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}

.bg{
    position: absolute;
    align-self: center;
    border-radius: 500px;
    max-width: 1025px;
    max-height: 764px;
    z-index: -1;
}

main .wrapper-photo-part{
    position: relative;
    width: 1025px;
    height: 764px;
    margin: 0 auto;
    
}

@media (max-device-width: 1100px){
    main .wrapper-photo-part{
        width: 100%;
        max-width: 1025px;
    }
}
.wrapper-photo-part > div{
    background-image: url(./images/bg-main.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 500px;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


.wrapper-photo-part object{
    max-width: 202px;
    max-height: 197px;
}

.me{
    text-align: center;
    margin-bottom: 8px;
}
.me h1{
    color: white;
    font: 700 63px var(--poppins);
}
.me p{
    font: 600 26px var(--poppins);
    color: transparent;
    background-clip: text;
    background-image: var(--gradient);
}

.description{
    max-width: 793px;
    font: 500 19px var(--poppins);
    text-align: center;
    color: #E1E1E1;
}

.wrapper-photo-part > div > button{
    background-color: transparent;
    border: 1px #4FC3F7 solid;
    border-radius: 75px;
    width: 187px;
    height: 55px;
    text-align: center;
    color: white;
    font: 500 15px var(--montserrat);
}

.wrapper-photo-part button{
    position: relative;
    top: 40px;
}

button{
    position: relative;
    transition: .2s background-color linear;
}

body button:hover{
    background-color: #4FC3F7;
}

@media (max-device-width: 500px){
    .me{
        margin-bottom: 38px;
    }
    .me h1{
        font-size: 42px;
    }
    .me p{
        font-size: 18px;
    }

    .description{
        font-size: 14px;
        line-height: 20pt;
    }
}

.wrapper-about{
    max-width: 840px;
    margin: 0 auto;
}
.about-me{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 40px;
    padding-top: 174px;
}

.about-me > .caption{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about-me > .caption h1{
    font: 900 45px var(--inter);
    color: white;
}

.about-me > .caption p{
    font: 600 14px var(--inter);
    background-clip: text;
    color: transparent;
    background-image: var(--gradient);
}

.about-me > .description{
    max-width: 840px;

    font: 500 17px var(--inter);
    color: #E1E1E1;
    text-align: center;
}

.about-me > button{
    width: 216px;
    height: 55px;
    border-radius: 55px;
}